@splitLine:1px solid #dee7fa;
@baseColor:#5987e4;//#2ECF38

.ui-tabs-ray{
    height: 100%;

    .tabs-nav{
        overflow: hidden;
        height: 50px;
        border-bottom: @splitLine;

        .tabs-title{
            float: left;
            line-height: 50px;
            font-size: 14px;
            margin: 0 20px;
            color: #999;
        }

        .tabs-tab{
            float: left;
            cursor: pointer;
            padding: 0 20px;
            line-height: 48px;
            margin: 0 5px;
            
        }
        .tabs-active{
            color: @baseColor;
            border-bottom: 2px solid @baseColor;
        }
    }
    .tabs-content{
        height: e("calc(100% - 50px)");
        .tabs-panel{
            height: 100%;
            display: none;
        }
        .tabs-active{
            display: block
        }
    }
}

// menuList

.menu-list{
    padding: 10px;
    overflow: hidden;
    height: 100%;
    border-right: @splitLine;

    .menu-item{
        padding: 10px;
        cursor: pointer;
        text-align: left;
        font-size: 14px;

        .iconfont{
            float: right;
            color: @baseColor;
        }
    }

    .menu-active {
        background: #dfeaff;
        position: relative;

        &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 7px solid #DFEAFF;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            right: -7px;
            top: 50%;
            margin-top: -5px;
        }
    }
}

.status-bar{
    height: 50px;
    line-height: 50px;
    border-bottom: @splitLine;
    padding: 0 20px;
    overflow: hidden;

    label{
        margin: 0 20px;
        input{
            margin-right: 5px;
        }
    }
}

.status-model {

    padding: 20px;
    border-bottom: @splitLine;
    overflow: hidden;
    .model-img{
        // display: inline-block;
        height: 240px;
        width: 300px;
        float: left;
        background:url('./img/model-single.png') no-repeat 100% ;
    }

    .model-content{
        overflow: hidden;
        height: 100%;

        .edit-btn-info{
            text-align: right;
            color: @baseColor;
            line-height: 25px;
            span{
                margin-left: 20px;
                cursor: pointer;
            }
            .iconfont{
                font-size: 14px;
            }
        }
        
        .model-info{
            margin-top:55px; 

            .model-info-line{
                margin-top: 10px;
            }
            .model-url{
                display: inline-block;
                vertical-align: middle;
                width: 60%;
                margin-left: 20px;
                input{
                    outline: none;
                    padding: 6px 5px;
                    border: @splitLine;
                }
            }
            .model-label{
                text-align: right;
                width: 100px;
                display: inline-block;
                vertical-align: top;
                margin-top: 8px;
            }

            .model-detail{
                display: inline-block;
                width: 60%;
                margin-left: 20px;
                height: 125px;
                overflow-y: auto;

                .add-person{
                    display: inline-block;
                    padding: 10px;
                    color: @baseColor;
                    cursor: pointer;
                }
            }
        }
    }
}

.model-item-block{
    padding: 10px;
    background: #f2f2f2;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    margin-right:10px; 
    span{
        vertical-align: middle;
    }
    .iconfont {
        margin-left: 5px;
        vertical-align: middle;
        &:hover{
            color: red;
        }
    }
}

.add-status-model{
    height: 240px;
    width: 300px;
    display: inline-block;
    margin: 20px;
    border: 1px dashed #dee7fa;
    line-height: 240px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}