@splitLine:1px solid #dee7fa;
@baseColor:#5987e4;//#2ECF38

iframe{
    width: 100%;
    height: 100%;
}
.wrap{
    height: 100%;
    padding: 10px;
    padding-right: 6px;
    overflow-y: auto;

    .mode-setting-btn{
        cursor: pointer;
        position: fixed;
        right: 16px;
        bottom: 14px;
        z-index: 99;
        width: 64px;
        height: 64px;
        background: url('./img/btn_setting_nomal.png') no-repeat 100% ;
        &:hover{
            background: url('./img/btn_setting_hover.png') no-repeat 100% ;
        }
    }
}

.feature-box{
    border: @splitLine;
    height: 200px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
    .iconfont{
        transition: all .2s ease
    }
    .toggle-bar{
        font-size: 20px;
        position: absolute;
        top: 8px;
        right: 10px;
        width: 20px;
        height: 20px;
        z-index: 99;
        cursor: pointer;
    }
}
.grid-one{
    .feature-box{
        &:nth-child(2n+1){
            width: 65%;
            margin-right: 10px;
        }
        &:nth-child(2n){
            width: auto;
            float: none
        }
    }
}
.grid-two{
    .feature-box{
        &:nth-child(2n+1){
            width: 49.51%;
            margin-right: 10px;
        }
        &:nth-child(2n){
            width: auto;
            float: none
        }
    }
}

.control-bar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    height: 0;
    width: 100%;
    background: #f3f8fd;
    border-bottom: none;
    transition: height 0.2s ease;
    text-align: right;
    padding-right: 44px;
    overflow: hidden;
    .icon_config{
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin-top: 7px;
        width: 20px;
        height: 20px;
        background: url('./img/icon_settings.png') no-repeat 100% ;
    }
    .icon_refresh{
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-top: 7px;
        margin-right: 14px; 
        background: url('./img/icon_refresh.png') no-repeat 100% ;
    }
}
.slide-down{
    height: 35px;
    border-bottom: @splitLine;
}


.arrw-rotate{
    transform: rotateZ(90deg);
}
.add-new-app{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .add-new-title{
        text-align: center;
        font-size: 14px;
        color: #333;
        cursor: pointer;
        display: inline-block;
        padding-top: 40px;
        background: url('./img/icon_add1.png') no-repeat top center;
    }
}


//  app tip
.app-modal-box{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    .app-modal{
        z-index: 999;
        width: 528px;
        border-radius: 5px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 1px #b9b9b9 solid;
        
        .app-modal-title{
            line-height: 40px;
            background: #29a4e0;
            padding: 0 20px;
            font-size: 14px;
            color: white;
            height: 40px;
            .iconfont{
                float: right;
                cursor: pointer;
            }
        }

        .app-modal-content{
            background: #fafafa;
            overflow: hidden;
            padding-bottom: 35px;
            padding-top: 15px; 

            .app-modal-item{
                // margin-left: 20px;
                margin-top: 20px;
                // margin-right: 20px;
                float: left;
                text-align: center;
                width: 75px;
                position: relative;

                .app-select-icon{
                    background: url('./img/icon_check.png') no-repeat 100%;
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    z-index: 999;
                    right: 14px;
                    top: -5px;
                }
                .app-select-remove{
                    background: url('./img/icon_remove.png') no-repeat 100%;
                }
                .icon-ziyuan{
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    border: none;
                    cursor: pointer;
                }
                .app-modal-select{
                    position: absolute;
                    right: -5px;
                    top: -5px;
                }
                .app-modal-name{
                    display: block;
                    margin-top: 8px;
                    cursor: pointer;
                    padding: 0 10px;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

}

// mode-tip

.mode-select-tip{
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);

    .mode-select-content{
        border: @splitLine;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 376px;
        height: 214px;
        vertical-align: middle;
        transform: translate(-50%,-50%);
        background: #fff;

        .mode-select-title{
            font-size: 12px;
            padding: 10px;
            height: 30px;
            background: #29a4e0;
            color: #fff;

            .iconfont{
                position: relative;
                top: -3px;
                float: right;
                cursor: pointer;
            }
        }

        .mode-select-list{
            overflow: hidden;

            .mode-select-item{
                width: 60px;
                text-align: center;
                float: left;
                margin: 32px;
                cursor: pointer;
                position: relative;

                .mode-checked{
                    right: 9px;
                    top: -5px;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    background: url('./img/icon_check.png') no-repeat 100%;

                }

                .mode-item-list{
                    margin-bottom: 10px;
                    width: 34px;
                    height: 34px;
                    display: inline-block;
                    background: url('./img/icon_list.png') no-repeat 100%;

                }
                .mode-item-grid{
                    margin-bottom: 10px;
                    width: 34px;
                    height: 34px;
                    display: inline-block;
                    background: url('./img/icon_grid.png') no-repeat 100%;
                    
                }
            }
        }

        .mode-select-bottom{
            border-top: 1px solid #ddd;
            text-align: right;
            padding: 15px;

            .mode-selet-btn{
                margin-left: 10px; 
            }
        }
    }
}

// loading
#loading-box{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

  z-index: 9999;
}